![title](nike-smoke-sounding-rocket-plans-apr-1968-aam-1478x945.jpg)

In [1]:
dimensions=dict(
    cone_nose=101.83-.85-2.08,
    flat_nose=2.08+.75,
    taper_nose=4.05,
    tube_length=134.750-.75-4.05,
    tube_diameter = 16.50,
    flat_diameter=17.60,
    fin_width=23.25,
    fin_taper = 6.575,
    fin_height = 21.65,
    fin_displacement=6.9)

In [2]:
bt2=0.246

In [3]:
scale_factor = bt2/dimensions['tube_diameter']

In [4]:
scale_factor

0.014909090909090908

In [5]:
import pandas as pd

In [6]:
df=pd.DataFrame(dimensions, index=['Original']).transpose()

In [7]:
df

                  Original
cone_nose           98.900
flat_nose            2.830
taper_nose           4.050
tube_length        129.950
tube_diameter       16.500
flat_diameter       17.600
fin_width           23.250
fin_taper            6.575
fin_height          21.650
fin_displacement     6.900

In [8]:
df['BT2']=df.apply(lambda row: row * scale_factor, axis = 1)

In [9]:
df

                  Original       BT2
cone_nose           98.900  1.474509
flat_nose            2.830  0.042193
taper_nose           4.050  0.060382
tube_length        129.950  1.937436
tube_diameter       16.500  0.246000
flat_diameter       17.600  0.262400
fin_width           23.250  0.346636
fin_taper            6.575  0.098027
fin_height          21.650  0.322782
fin_displacement     6.900  0.102873

In [10]:
class bt():
    def __init__(self,id,od):
        self.outer_diameter=od
        self.inner_diameter=id
        
import inspect
def retrieve_name(var):
    callers_local_vars = inspect.currentframe().f_back.f_locals.items()
    return [var_name for var_name, var_val in callers_local_vars if var_val is var]
BT2=bt(.240, .246)

In [11]:
BT5=bt(.545, .555)
BT20=bt(.745, .766)

In [12]:
tubes = ['BT2', 'BT5', 'BT20']

In [40]:
class ScaleTable():
    def __init__(self, nominal, tubes):
        self.nominal = globals()[nominal].outer_diameter
        self.diameters = [globals()[each].outer_diameter for each in tubes]
            
        array = []
        for each in self.diameters:
            subarray = []
            for other in self.diameters:
                subarray.append(each/other)
            subarray.append(each/self.nominal)
            array.append(subarray)
            
        self.df= pd.DataFrame(array, columns=tubes+['Scale Factor'], index=tubes).transpose()
    def add_feature(self, name, length):
        row = [each/self.nominal*length for each in self.diameters]
        dft = self.df.loc[name]=row

In [41]:
df=ScaleTable('BT5', tubes)

In [42]:
df.add_feature("Main Tube", 2)

In [43]:
df.df

                   BT2       BT5      BT20
BT2           1.000000  2.256098  3.113821
BT5           0.443243  1.000000  1.380180
BT20          0.321149  0.724543  1.000000
Scale Factor  0.443243  1.000000  1.380180
Main Tube     0.886486  2.000000  2.760360